.producto {
    position: relative;
    border: 1px solid purple;
    border-radius: 4px;
    overflow: hidden;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Precio */
.precio {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: pink;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
