header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;

    /*--|Alineacion*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header span {
font-size: 40px;
}
header h2{
    font-size: 22px;
}